@tailwind base;
@tailwind components;
@tailwind utilities;

.product-detail-container{
    display: flex;
   gap: 40px;
   margin: 40px;
   margin-top: 60px;
   color: #324d67;
  
  }

  .product-detail-image:hover{
    background-color: #f02d34;
  
  }


  .product-detail-image{
    border-radius: 15px;
     background-color: #ebebeb;
  
    width: 400px;
    height: 400px;
    cursor: pointer;
    transition: .3s ease-in-out;
  }

.small-images-container{
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }
  .small-image{
    border-radius: 8px;
    background-color: #ebebeb;
    width: 70px;
    height: 70px;
    cursor: pointer;
  }
  
  .selected-image{
    background-color:#f02d34;
    padding: 2px;
  }